@media screen and (max-width: 1024px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  /* navbar */
  .navbar {
    height: 100px;
  }
  .navbar .menu {
    gap: 14px;
  }

  /* overview */
  .overview_heading {
    top: -16px;
    justify-content: flex-end;
  }
  .overview_heading h2 {
    font-size: 30px;
  }
  .overview_content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* about us */
  .about_us {
    grid-template-columns: 1fr;
  }
  .mission_card {
    left: 0;
  }
  /* service */
  .service {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .service .service_title {
    font-size: 26px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  .service .service_desc {
    margin-bottom: 16px;
  }

  /* testimonial */
  .testimonal_container {
    margin-top: 45px;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .testimonal_title {
    font-size: 24px;
  }
  .testimonal_card {
    background-color: #fffff5;
    padding: 18px;
    border-radius: 12px;
  }
  .testimonal_card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  /* footer */
  .footer_container {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 60px 0;
    align-items: end;
  }
}

/* mobile responsive */
@media screen and (max-width: 767px) {
  .container {
    max-width: 94%;
    margin: 0 auto;
  }

  /* navbar */
  .navbar {
    height: 80px;
  }
  .logo img {
    width: 100px;
  }
  .nav_appointment {
    display: none;
  }
  .menu_bar {
    display: flex;
  }
  .logo img {
    width: 85px;
  }
  .navbar .menu {
    display: none;
  }
  .hero_content img {
    height: 130px;
  }

  /* overview */
  .overview_content {
    justify-content: center;
    padding-top: 36px;
  }
  .overview_heading {
    top: -36px;
    justify-content: center;
  }
  .overview_heading h2 {
    font-size: 20px;
  }
  .overview_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middle_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .overview_content {
    grid-template-columns: repeat(1, 1fr);
  }

  /* about us */
  .about_left h2 {
    font-size: 24px;
  }
  .about_left p {
    max-width: 100%;
  }
  .mission_card {
    left: 0;
    bottom: -100px;
  }

  /* service */
  .service_card {
    bottom: 0px;
    left: 5px;
    opacity: 0.9;
    padding: 20px;
  }
  .service_card h2 {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .service_card p {
    font-size: 14px;
    line-height: 20px;
  }

  /* faq */
  .faq_title {
    font-size: 24px;
  }
  .question_answer h3 {
    padding: 10px 15px;
  }
  .question_answer p {
    padding: 10px 15px;
  }
  .question {
    padding: 10px 15px;
    gap: 8px;
  }
  .question h3 {
    font-size: 14px;
  }

  /* discount */
  .discount_content h2 {
    color: #fff;
    font-size: 24px;
    line-height: 35px;
  }
  .discount_logo {
    left: 35px;
  }
  .btn_group {
    align-items: flex-start;
    flex-direction: column;
  }
  /* footer */
  .footer_container {
    grid-template-columns: 1fr;
    gap: 80px;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
  }
}
