/* google font inter  */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

/* CSS reset code */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.btn {
  background-color: transparent;
  padding: 10px 15px;
  color: #020043;
  border: 2px solid #020043;
  border-radius: 18px;
  cursor: pointer;
}

/* container box */
.container {
  max-width: 80%;
  margin: 0 auto;
}

/* body */
body {
  font-family: "Inter", sans-serif;
  background-color: #fbfbfb;
}

.top_blur {
  background-color: #d3d3d3e0;
}

/* navbar */
.navbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.menu_bar {
  display: none;
}
.menu_bar i {
  font-size: 24px;
  cursor: pointer;
  color: #020043;
}
.navbar .menu li,
a {
  list-style: none;
  text-decoration: none;
}
.navbar .menu li a {
  font-size: 18px;
  color: #0c0b0b;
}
.appointment_btn {
  background-color: transparent;
  padding: 10px 15px;
  border: 2px solid #000000;
  border-radius: 12px;
  cursor: pointer;
}
.appointment_btn i {
  margin-left: 6px;
}
/* Hero Content */

.hero_content img {
  width: 100%;
}
.hero_image {
  filter: opacity(85%);
}

/* overview section */
.overview {
  margin-top: 60px;
  position: relative;
  padding-bottom: 100px;
}
.overview_content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.overview_heading {
  position: absolute;
  top: -10px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview_heading h2 {
  font-size: 40px;
  color: #020043;
}
.overview_box {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #ccc;
}
.overview_box .star {
  width: 26px;
}
.overview_box h2 {
  color: #020043;
  font-size: 32px;
  font-weight: 700;
}
.overview_box p {
  max-width: 150px;
  color: #343268;
}
.overview_box img {
  max-width: 148px;
  margin: 0 auto;
}
.overview_content .first_last p {
  margin-top: 10px;
  margin-bottom: 24px;
}
.overview_content .middle p {
  margin: 12px 0;
}
.person_images img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  margin-left: -15px;
  object-fit: cover;
}
.person_images img:first-child {
  margin-left: 0;
}
.half_img {
  position: relative;
  width: 100%;
  height: 70px;
}
.half_img img {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 10px;
  bottom: 0;
}
.h_half p {
  margin-top: 10px;
  margin-bottom: 14px;
}
.overview_content .first_last img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* Who we are - About us */
.about_us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 120px;
}
.about_left h2 {
  font-size: 36px;
  line-height: 40px;
  color: #020043;
  margin: 24px 0;
}
.about_left p {
  max-width: 80%;
  color: #4d4c7b;
  line-height: 22px;
  margin-bottom: 20px;
}
.about_left .learn_more_btn {
  background-color: #ffc637;
  padding: 10px 15px;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.about_left .learn_more_btn i {
  margin-left: 5px;
  color: #020043;
}
.about_right {
  position: relative;
}
.about_right img {
  width: 100%;
}
.mission_card {
  position: absolute;
  bottom: -40px;
  left: -80px;
  max-width: 400px;
  background-color: #343268;
  padding: 32px 20px;
  border-radius: 18px;
}
.mission_card h2 {
  color: #fff;
  margin-bottom: 16px;
}
.mission_card p {
  color: #d6d6e1;
  line-height: 24px;
}

/* service */
.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  margin-top: 190px;
}
.service .service_title {
  line-height: 55px;
}
.service .service_desc {
  line-height: 36px;
  margin-bottom: 48px;
}
.service_content h2 {
  margin-bottom: 36px;
}
.service_box {
  position: relative;
}
.service_box img {
  width: 100%;
  border-radius: 25px;
}
.service_card {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 400px;
  /* background-color: #343268; */
  background-color: #343268d8;
  opacity: 1;
  padding: 32px 20px;
  border-radius: 18px;
}
.service_card h2 {
  color: #fff;
  margin-bottom: 16px;
}
.service_card p {
  color: #d6d6e1;
  line-height: 24px;
}
.service_arrow {
  position: inherit;
  background-color: #ffc637;
  color: #fff;
  padding: 12px;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.appointment_bold {
  font-weight: 500;
}

/* testimonal */
.testimonal {
  margin-top: 120px;
}
.testimonal_title {
  font-size: 36px;
  color: #020043;
  margin-top: 20px;
}
.profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.testimonal_container {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 24px;
}
.testimonal_card {
  background-color: #fffff5;
  padding: 18px;
  border-radius: 12px;
}
.testimonal_card h3 {
  color: #020043;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 12px;
}
.testimonal_card p {
  color: #4d4c7b;
  line-height: 20px;
}
.user {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 16px;
}
.user_info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.user .user_name {
  font-weight: 600;
  color: #020043;
}
.user .user_designation {
  color: #343268;
}
.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}
.stars i {
  color: #ffc637;
}
.pagination_mark {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination_mark i {
  cursor: pointer;
}
.pagination_mark i:nth-child(1) {
  color: #e2e2e9;
}
.pagination_mark i:nth-child(2) {
  color: #ffc637;
}
.pagination_mark i:nth-child(3) {
  color: #e2e2e9;
}

/* frequently ask question */
.faq {
  margin-top: 120px;
}
.faq_title {
  font-size: 42px;
  color: #020043;
  margin-top: 20px;
}
.question_lists {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question_answer h3 {
  color: #1c1a55;
  font-weight: 500;
  padding: 10px 36px;
  background-color: #fffff5;
  border-bottom: 2px solid gray;
}
.question_answer p {
  color: #8584a4;
  padding: 10px 36px;
  background-color: #ffffff;
}
.question {
  padding: 16px 36px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question h3 {
  color: #1c1a55;
  font-weight: 500;
}
.question i {
  color: #323232;
}

/* discount */
.discount {
  position: relative;
  margin-top: 120px;
  height: 560px;
  border-radius: 14px;
  background: linear-gradient(to left, #0504466a, #050446),
    url("../images/Rectangle32.png") no-repeat center center / cover;
}
.discount_container {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.discount_logo {
  position: absolute;
  top: 80px;
  right: 80px;
}
.discount_content h2 {
  color: #fff;
  font-size: 42px;
  line-height: 55px;
}
.btn_group {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.discount_btn {
  background-color: #ffc637;
  padding: 10px 15px;
  font-weight: 500;
  color: #020043;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.discount_btn i {
  margin-left: 4px;
}
.bg-transparent {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* footer */
.footer {
  margin-top: 120px;
  background-color: #020043;
  color: #ccccd1;
}
.footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 16px;
  padding: 60px 0;
}
.footer_logo {
  margin-bottom: 12px;
}
.footer_content p {
  color: #ccccd1;
}
.footer .nav_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .nav_links li,
a {
  text-decoration: none;
  list-style: none;
  color: #ccccd1;
}
.social_links {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 24px;
}
.social_links i {
  cursor: pointer;
}

/* responsive for tablet */
